---
---
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Kei &middot; Nakagawa</title>
  {% include google_analytics.html %}
  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="shortcut icon" href="/favicon.ico" />
</head>

<body>

  <div>
    {% include header.html %}
    <div class="padding">
    </div>
    <div class="top-box">
      <div class="container">

        <div class="top-blurb">
          <h1>hey, i'm kei!</h1>
          <p>
            i'm a junior at <a href="https://www.brown.edu/">brown university</a> pursuing a sc.b in computer science. i'm also interested in cognitive / psychological aspects of languages and nonverbal communication. outside of academics, my hobbies
            include running, improv, cooking, and yoga. this past summer i was an intern on the google docs team in google's nyc office, and i'll be spending the summer of 2016 in the same office, albeit on a different team.

          </p>
        </div>

        <div class="picholder mobile-hide">
          <img class="headshot" src="/resources/images/me.jpg" />
        </div>
      </div>
    </div>
  </div>

  <div class="whitebox">
    <div class="container">
      <div class="middle-blurb">

        <h1>what this is all about</h1>

        <p>
          This page / blog will serve as a general hub for the things i've been
          up to, an other things i feel comfortable posting online.
        </p>
        <p>
          this site is very much still a work in progress. let me know if you have any feedback!
        </p>
        <p>
          i've set up a blog for longer musings / writeups called 'longform', which you can
          access via the button below. its content isnt very filled out or structured
          at the moment.
        </p>
      </div>
      <a href="/blog/">
        <button class="nav_button special_button" style="margin-bottom:20px;">SEE LONGFORM</button>
      </a>
      <div style="clear:both"></div>
    </div>

  </div>

  {% include footer.html %}

</body>

</html>
