<div class="header">

  <div class="headerbox">

    <div class="logo">
      <a href="/">
        <p>i
        <br>am
        <br/>kei
        <br/>nakagawa
        </p>
        </a>
    </div>

    <a href="/resources/pdfs/resume.pdf">
      <button class="nav_button top_nav_button special_button">
        RESUME
      </button>
    </a>
    <button class="nav_button top_nav_button">
      CONTACT
    </button>
    <a href="/blog/">
    <button class="nav_button top_nav_button">
      LONGFORM
    </button>
    </a>
  </div>
</div>
